.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    aspect-ratio: 1;
    display: block;
    width: 3em;
}

.icon svg {
    width: 100%;
}

.inputContainer {
    width: 100%;
    padding: 0.2em;
}

.input {
    width: 100%;
    padding: 0.6em;
    border: 1px solid #d1d5da;
    border-radius: var(--border-radius-fixed-large);
    font-size: var(--font-size-title-primary);
}

.validatorErrors {
    margin: .2em;
    color: var(--color-text-error);
    font-size: var(--font-size-caption);
    font-weight: bold;
    text-align: center;
}