.main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  margin: auto;
  padding: 1em 0em;
  gap: var(--gap-large);
}

.searchModeGroup {
  display: flex;
  gap: var(--gap-medium);
  align-items: center;
  justify-content: center;
}

.searchModeGroup span {
  font-size: var(--font-size-title-secondary);
}

.error {
  font-size: smaller;
  text-align: center;
  color: var(--color-text-error);
}

@media screen and (max-width : 800px) {
  .main {
    width: 100vw;
  }
}