.main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  margin: auto;
  padding: 1em 0em;
  gap: 1em;
}

.searchModeGroup {
  display: flex;
  gap: .4em;
  align-items: center;
  justify-content: center;
}

.searchModeGroup span {
  font-size: 1.2em;
}

.error {
  font-size: smaller;
  text-align: center;
  color: #a20505;
}

@media screen and (max-width : 800px) {
  .main {
    width: 100vw;
  }
}