.container {
    border-radius: 3px;
    color: var(--color-text-primary);
    margin: 1em;
    height: 80vh;
}

.empty {
    color: var(--color-text-disabled);
}

.loading {
    display: flex;
    align-items: center;
    height: 2em;
}

.searchResultsWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: var(--gap-small);
    height: calc(100% - 2em);
}
