.container {
    border-radius: 3px;
    color: #24292e;
    margin: 1em;
    height: 80vh;
}

.empty {

}

.loading {

}

.searchResultsWrapper {
    display: grid;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 0.2em;
    height: calc(100% - 2em);
}
