
.button {
    display: inline-block;
    padding: 0.2em 0.4em;
    font-size: var(--font-size-button);
    line-height: 1.5;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    color: var(--color-text-primary);
    background-color: var(--color-background-secondary);;
    cursor: pointer;
    text-decoration: none;
    margin: var(--gap-small)
  }
  
  .button:hover {
    background-color: #e6ebf1;
  }
  .active {
    background-color: #c6e6ff;
  }